@font-face {
	font-family: 'pixelated';
	src: url("fonts/commodore.ttf");
}

* {
	background-color: #222;
	color: white;
	font-family: pixelated, Arial, Helvetica, sans-serif;
}

.hidden {
	color: #222;
}

#oneko {
	background-color: transparent;
}
