@font-face {
	font-family: 'pixelated';
	src: url("fonts/commodore.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	background-color: #222;
	color: white;
	font-family: pixelated, Arial, Helvetica, sans-serif !important;
	background-image: url("https://nixo.nekoweb.org/Stuff/blackgranite.gif");
	background-repeat: repeat;
}

.hidden {
	color: #222;
}

#oneko {
	background-color: transparent;
}

img {
	background-image: none;
}
